body {
  /*#0d0f16; */
  color: white;
  font-family: Arial;
  background: linear-gradient(270deg, #0d0f16, #85bbd4, #1b3134);
  background-size: 600% 600%;
  animation: angin 10s ease infinite;
}

@keyframes angin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NAVBAR */
.navbar-custom {
  background: linear-gradient(270deg, #0d0f16, #85bbd4, #1b3134);
  background-size: 600% 600%;
  animation: angin 10s ease infinite;
}
@keyframes navbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-link {
  color: white;
}
.logo-stroke {
  height: 45px;
  filter: drop-shadow(0 0 2px white);
}
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
}
/*.carousel-item {
}*/
.mid-content {
  background-color: transparent;
}
/* PRODUCTS */
.product-card {
  background: transparent;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: 0.25s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card .card-body p {
  color: #f5f7ff;
  font-size: 100%;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

/* background halus di belakang teks */
.product-card .card-body {
  background: #1b2627;
  padding: 12px;
  border-radius: 0 0 12px 12px;
}

/* BUNDLE */
.bundle-card {
  background: #13151a;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid rgba(13, 180, 255, 0.2);
  width: 680px;
  margin: auto;
  box-shadow: 0 8px 30px rgba(13, 180, 255, 0.1);
  position: relative;
  text-align: center;
}
.bundle-img {
  width: 100%;
  border-radius: 12px;
}
.bundle-badge {
  position: absolute;
  top: -12px;
  left: -12px;
  background: #ff3860;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  transform: rotate(-7deg);
  color: white;
}

.footer {
  background-color: #1b3134;
}

.modal-content {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.modal-content:hover {
  background-color: #1b3134;
}
